.imagem-logo{
    border-radius: 50%;
}

.header{
    background-color: rgb(139, 138, 138);
}

body{
    background-color: black;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    background-color: rgb(104, 103, 103);
    border-radius: 15px;
    transition: ease 0.2s;
}