<%- include('../partials/header'); %>
<link rel="stylesheet" href="/css/paginainicial.css">

<div class="container pagina-inicial text-center">
    <h1 class="titulo">Seja bem vindo(a) a nossa biblioteca online.</h1>
    <h3>Fique a vontade para cadastrar seus livros preferidos.</h3>
</div>

<script src="/js/script.js"></script>
<%- include('../partials/footer'); %>